<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="icon" href="../../../../favicon.ico">

    <title>GST</title>
{% load static %}
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Custom styles for this template -->
    <link href="{% static 'gst and kyc.css' %}" rel="stylesheet">
  </head>

  <body class="text-center">
    {% if not obj.gst_no %}
    <p> "Your GST no. is still not submitted. We highly recommend you to fill it soon." </p>
    <form class="form-signin">
      <h1 class="h3 mb-3 font-weight-normal">GST INN</h1>
      <label for="GST INN" class="sr-only">GST INN</label>
      <input type="text" id="gst" class="form-control" placeholder="GST INN" required autofocus>
     <div class=" mb-3">
        <label>
          <input type="hidden" value="remember-me">
        </label>
     </div>
      <button class="btn btn-primary  btn-lg btn-block" type="submit">Save GST</button>
    </form>
    {% else %}
    <p> "Great! You have already submitted the GST no." </p>
    {% endif %}
  </body>
</html>
