{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="icon" href="../../../../favicon.ico">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Login</title>

    <!-- Bootstrap core CSS -->
    <link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="gst and kyc.css" rel="stylesheet">
  </head>

  <body>
      <div class="w3-container w3-teal">
          <center><h1>Seller Tool</h1></center>
        </div>

    <div  style="padding-top: 50px; background-color: white;" >   </div>
   <div class="col-sm-8 ">
    <div class="row" style="padding-top: 90px; background-color: white;">

   </div>
   <div class="col-sm-1" style=" background-color:white;" >   </div>
      <div class="row">
    <div class="card text-white bg-success mb-3 col-sm-6" style="max-width: 20rem;">
      <!--<div class="card-header">SELLER HEALTH</div>-->
      <div class="card-body">
        <h5 class="card-title">SELLER HEALTH</h5>
        <p class="card-text">Seller's overall health value based on various components.</p>
      </div>
      <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>

    <div class="col-sm-1" >   </div>
    <div class="card text-white bg-success mb-3 col-sm-6 " style="max-width: 20rem;">
    <!--  <div class="card-header">Header</div>-->
      <div class="card-body">
        <h5 class="card-title">SELLER PERFORMANCE</h5>
        <p class="card-text">Seller's overall performance value based on various components.</p>
      </div>
      <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    </div>

    <div class="row" style="padding-top:70px; background-color: white;">

      </div>


    <div class="row">
        <div class="col-sm-4" style="padding-left: 50px; background-color:white;" >   </div>
    <div class="card text-white bg-success mb-3 col-sm-6" style="max-width: 20rem;">
      <!--<div class="card-header">Header</div>-->
      <div class="card-body">
        <h5 class="card-title">FEEDBACKS AND RECOMMENDATIONS</h5>
        <p class="card-text">Feedbacks on various seller's products and recommendations.</p>
      </div>
      <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    </div>
  </div>



   <div class="col-sm-4 ">
      <div  style="padding-top: 30px; background-color: white;" >   </div>
    <div class="w3-container w3-display-middle-right w3-margin w3-border w3-padding-large ">
    <form class="form-signin" method="post">
      {% csrf_token %}

      <center><h1 class="h3 mb-3 font-weight-normal">Please sign in</h1></center>


      <div class="mb-3">
        <label>
          <input type="hidden" value="remember-me">
        </label>
      </div>


        {{ form.as_p }}

      <center><div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div></center>




      <div class=" mb-3">
        <label>
          <input type="hidden" value="remember-me">
        </label>
      </div>

      <button class="btn btn-primary  btn-lg btn-block" type="submit">Sign In</button>
    </form>

  </div>
      </div>
  </body>
</html>
